.app-layout {
  height: 100vh;
}

.app-outer-content {
  padding: 0px 24px;
}

.site-layout-background {
  background: white;
}

.app-inner-layout {
  padding: 24px 0;
  height: 100%;
}

.app-frame {
  padding: 0 24px;
}

body {
  margin: 0;
  border-radius: 8px;
  background: white;
}