@import "~antd/dist/antd.css";

.page-content-background {
  padding: 64px;
}

.app-content {
  padding: 0 36px;
  min-height: 280px;
}

.site-layout-background {
  background: white;
  height: 100%;
}

.site-layout {
  padding: 36px 0;
}

.page-layout {
  height: 100vh;
}

.sider-menu {
  height: 100%;
}